@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --gradient:linear-gradient(40deg, #020344, #28b8d5);
}
body{
    @apply text-white relative
}
*{
    font-family: Inter;
    transition: .3s;
}
.overlay{
    border-image:fill 0 linear-gradient(40deg,black,rgba(0, 0, 0, 0.208)) !important;
}

html::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
}
html::-webkit-scrollbar-track {
    background-color: #1a1a1a; /* Track color */
}
html::-webkit-scrollbar-thumb {
    background-color: #444; /* Thumb color */
    border-radius: 6px; /* Rounded corners */
}
html::-webkit-scrollbar-thumb:hover {
    background-color: #666; /* Thumb color on hover */
}
/* Firefox scrollbar customization */
html {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #444 #1a1a1a; /* Thumb color and track color */
}